<!-- <div
    class="modal fade in"
    style="display: block; position: absolute; overflow: auto; bottom: auto">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    ng-click="ctrl.closeEditCard()"
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4
                    ng-click="ctrl.selectedCard.editName = !ctrl.selectedCard.editName; ctrl.selectedCardName = ctrl.selectedCard.name"
                    ng-hide="ctrl.selectedCard.editName"
                    class="modal-title">{{ ctrl.selectedCard.name || 'Edit card name...' }}</h4>
                <div ng-show="ctrl.selectedCard.editName">
                    <div class="form-group">
                        <textarea
                            class="form-control"
                            ng-keydown="$event.keyCode == 13 && ctrl.updateCardName()"
                            ng-blur="ctrl.updateCardName()"
                            msd-elastic
                            ng-model="ctrl.selectedCardName"></textarea>
                    </div>
                    <button
                        class="btn btn-success btn-sm"
                        ng-click="ctrl.updateCardName()">
                        Save
                    </button>
                    <button
                        class="btn btn-link btn-sm"
                        ng-click="ctrl.selectedCard.editName = false">
                        Cancel
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <span
                    ng-hide="ctrl.showCardDescription"
                    ng-click="ctrl.selectCardDescription()"
                    ng-class="{ 'text-muted': !ctrl.selectedCard.description }">{{ ctrl.selectedCard.description || 'Edit the description...' }}</span>

                <div ng-show="ctrl.showCardDescription">
                    <div class="form-group">
                        <textarea
                            class="form-control"
                            msd-elastic
                            placeholder="Describe what's happening here..."
                            ng-blur="ctrl.updateCardDescription()"
                            ng-model="ctrl.selectedCardDescription"></textarea>
                    </div>
                    <button
                        class="btn btn-success btn-sm"
                        ng-click="ctrl.updateCardDescription()">
                        Save
                    </button>
                    <button
                        class="btn btn-link btn-sm"
                        ng-click="ctrl.showCardDescription = false">
                        Cancel
                    </button>
                </div>
            </div>

            <hr style="margin: 0;">

            <div class="modal-body">
                <h4>Assignees</h4>
                <selectize
                    config="ctrl.usersConfig"
                    options="ctrl.users"
                    ng-model="ctrl.selectedCard.userIds"></selectize>
            </div>

            <hr style="margin: 0;">

            <div class="modal-body">
                <h4>Subtasks</h4>
                <div class="form-group">
                    <textarea
                        placeholder="Create a subtask..."
                        class="form-control"
                        rows="1"
                        msd-elastic
                        ng-model="ctrl.newSubtaskBody"
                        ng-keyup="$event.keyCode == 13 && ctrl.createSubtask()"></textarea>
                </div>
                <div
                    ui-sortable="ctrl.subTaskSortableOptions"
                    ng-model="ctrl.selectedCard.subtasks">
                    <div
                        class="media"
                        ng-repeat="task in ctrl.selectedCard.subtasks">
                        <div class="media-left">
                            <i
                                class="fa fa-2 pointer"
                                ng-click="ctrl.toggleSubtask(task)"
                                ng-class="{ 'fa-square-o': task.checked != true, 'fa-check-square-o': task.checked == true }"></i>
                        </div>
                        <div class="media-body">
                            <div ng-click="ctrl.editSubtask(task)" ng-hide="task.editMode">{{ task.body || 'Click to edit subtask...' }}</div>
                            <span ng-show="task.editMode">
                                <div class="form-group">
                                    <textarea
                                        type="text"
                                        class="form-control"
                                        msd-elastic
                                        ng-model="task.newBody"
                                        ng-keyup="$event.keyCode == 13 && ctrl.updateSubtask(task)"></textarea>
                                </div>
                                <button class="btn btn-success btn-sm" ng-click="ctrl.updateSubtask(task)">Save</button>
                                <button class="btn btn-link btn-sm" ng-click="ctrl.cancelSubtaskEdit(task)">Cancel</button>
                                <button class="btn btn-link btn-sm pull-right" ng-click="ctrl.deleteSubtask(task)">Delete</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="margin: 0;">

            <div class="modal-body">
                <h4>Impact</h4>
                <p>By adding an impact value we can determine the priority of tasks against others.</p>
                <input
                    type="range"
                    min="0"
                    max="100"
                    ng-model="ctrl.selectedCard.impact"
                    ng-change="ctrl.updateCard()">
            </div>

            <hr style="margin: 0;">

            <div class="modal-body">
                <h4>Attachments</h4>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                <div
                    ngf-drop
                    ngf-select
                    ng-model="ctrl.files"
                    class="dropbox"
                    ngf-drag-over-class="dragover"
                    ngf-multiple="true"
                    ngf-allow-dir="false">
                    <div class="drag-overlay">Drop files here or <span>Browse<span></div>
                </div>
            </div>

            <hr style="margin: 0;">

            <div class="modal-body">
                <h4>Tags</h4>
                <selectize
                    config="ctrl.tagsConfig"
                    options="ctrl.tags"
                    ng-model="ctrl.selectedCard.tagNames"></selectize>
            </div>

            <hr style="margin: 0;">

            <div class="modal-body">
                <h4>Comments</h4>
                <div class="form-group">
                    <textarea
                        msd-elastic
                        class="form-control"
                        placeholder="What's on your mind?"
                        ng-model="ctrl.newCommentBody"></textarea>
                </div>
                <button
                    class="btn btn-success btn-sm"
                    ng-click="ctrl.createComment()">Comment</button>

                <div
                    class="media"
                    ng-repeat="comment in ctrl.selectedCard.comments">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" gravatar-src="comment.user.email" gravatar-size="45">
                        </a>
                    </div>
                    <div class="media-body">
                        <div ng-hide="comment.editMode">
                            <p ng-bind="comment.body"></p>
                            yesterday at 9:38am -
                            <a class="pointer" ng-click="ctrl.editComment(comment)">Edit</a> -
                            <a class="pointer" ng-click="ctrl.deleteComment(comment)">Delete</a>
                        </div>
                        <div ng-show="comment.editMode">
                            <div class="form-group">
                                <textarea
                                    msd-elastic
                                    type="text"
                                    class="form-control"
                                    ng-model="comment.newBody"></textarea>
                            </div>
                            <button
                                class="btn btn-success btn-sm"
                                ng-click="ctrl.updateComment(comment)">Save</button>
                            <button
                                class="btn btn-link btn-sm"
                                ng-click="ctrl.cancelCommentEdit(comment)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button
                    class="pull-left btn btn-danger"
                    ng-click="ctrl.deleteCard()">
                    Delete
                </button>
                <button
                    ng-class="{
                        'btn-danger': ctrl.selectedCard.blocked,
                        'btn-primary': !ctrl.selectedCard.blocked
                    }"
                    class="btn" ng-click="ctrl.blockToggleSelectedCard()">
                    {{ ctrl.selectedCard.blocked ? 'Unblock' : 'Blocked' }}
                </button>
                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                    ng-click="ctrl.closeEditCard()">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" ng-click="ctrl.closeEditCard()"></div> -->
