<div class="modal-header">
    <button
        ng-click="ctrl.cancel()"
        type="button"
        class="close"
        data-dismiss="modal"
        aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Sort Projects</h4>
</div>
<div class="modal-body">
    <ul class="list-group" ng-model="ctrl.projects" ui-sortable>
        <li ng-repeat="project in ctrl.projects" class="list-group-item">
            <i class="fa fa-arrows"></i> {{ project.name }}
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-success"
        ng-click="ctrl.ok()">
        Submit
    </button>
    <button
        type="button"
        class="btn btn-link"
        data-dismiss="modal"
        ng-click="ctrl.cancel()">Close</button>
</div>
